nul
VSCodium*
.DS_Store
*.env
assets/
build/linux/appimage/out
build/linux/appimage/pkg2appimage.AppDir
build/linux/appimage/pkg2appimage-*.AppImage
build/linux/appimage/pkg2appimage.AppImage
build/linux/appimage/squashfs-root
build/linux/appimage/VSCodium
build/windows/msi/releasedir
build/windows/msi/Files*.wxs
build/windows/msi/Files*.wixobj
sourcemaps/
stores/snapcraft/insider/*.snap
stores/snapcraft/stable/*.snap
VSCode-win32-x64*
vscode/.DS_Store
vscode/.cache
vscode/npm-debug.log
vscode/Thumbs.db
vscode/node_modules/
vscode/.build/
vscode/.vscode/extensions/**/out/
vscode/extensions/**/dist/
vscode/out*/
vscode/extensions/**/out/
vscode/build/node_modules
vscode/coverage/
vscode/test_data/
vscode/test-results/
vscode/test-results.xml
vscode/vscode.lsif
vscode/vscode.db
vscode/.profile-oss
vscode/cli/target
vscode/cli/openssl
vscode/cli/*.tgz
vscode/product.overrides.json
vscode/*.snap.actual
vscode/*.tsbuildinfo
vscode/.vscode-test
vscode/vscode-telemetry-docs/